# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Entorno
.env
dbConexion.js
# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Bases de datos locales
*.sqlite
*.db

# Carpetas de producción/build (si llegas a compilar frontend)
dist/
build/
